version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.be
    container_name: guess-the-agent-be
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: development

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.fe
    container_name: guess-the-agent-fe
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    depends_on:
      - backend
    command: npm run dev
